td{
	height: 60px;
	width: 60px;
	text-align: center;
	border: 5px solid black;
	font-size: 20px;
	cursor:pointer;
}

body {
	background-image: url(https://pbs.twimg.com/media/D-EQtReW4AEY85y.jpg);
	background-size: cover;
	background-blend-mode: overlay;
	background-color: #e0e0eb;
}


p {
	text-align: center;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}